    <div class="pdfToolbar">
      <div class="toolbarViewerMiddle">
        <label class="toolbarLabel">Line wrapping:
          <button class="wrapLines toolbarButton">
            <i class="glyphicon glyphicon-share-alt glyphicon-inverted"></i>
          </button>
        </label>
        <label class="toolbarLabel hidden">Other inline comments:
          <button class="toggle-comments toolbarButton">
            <i class="glyphicon glyphicon-comment"></i>
          </button>
        </label>
      </div>
    </div>
